# Environment variables
.env

# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Django stuff
db.sqlite3
media/

# Static build files
staticfiles/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store